{% extends 'base.html' %}
{% block title %}500. Критическая ошибка{% endblock %}
{% block content %}
<main>
  <section class="container my-5 px-4">
    <h1 class="text-center"><span style="color:red">Ошибка</span> 500</h1>
    <p class="text-center my-4">
      Все сломалось! <a href="{{ url_for('index_view') }}">Вернуться на главную</a>
    </p>
    <div class="container">
      <div class="row my-3">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/500.png') }}" alt="" />
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock %}